.items-page-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .items-wrapper {
        margin-top: 22px;
        width: 80%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 20px;
        justify-items: center;
        padding-bottom: 22px;
    
        .item-wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 1px solid black;
            border-radius: 10px;
            background-color: white;
            padding: 20px;
        }
    }
}
